<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.pmConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=pm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>